{% extends "todaySalesBase.html" %}
{% block css %}
<link href="/static/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>SKU预计接收时间 ({{ country }})</h1>
<p>其他站点
{% for ctry in countries %}
  {% if ctry == country %}

  {% else %}
  <a href="{% url 'estimated_sku_qty_receiving_date' %}?country={{ctry}}">{{ctry}}</a>
  {% endif %}
{% endfor %}
</p>
<table class="table">
  <tbody>
      <tr>
        <th scope="row">SKU</th>
        <th>预计进仓时间</th>
      </tr>
      {% for sku, sku_infos in to_be_received_skus.items %}
        <tr>
          <td scope="row">{{sku}}</td>
          <td><canvas id="myChart{{forloop.counter}}" width="1000" height="220"></canvas></td>
        </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script %}
<script src="/static/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
<script src="/static/echart/echarts.min.js"></script>

<script>

  {% for sku, sku_infos in to_be_received_skus.items %}
    var myChart{{forloop.counter}} = echarts.init(document.getElementById('myChart{{forloop.counter}}'));
    // 指定图表的配置项和数据
    var option{{forloop.counter}} = {
        tooltip: {},
        legend: {
            data:['日期']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            data: [{% for sku_info in sku_infos %}
                   "{{sku_info.date}}\n{{sku_info.shipment_name}}\n{{sku_info.shipment_id}}"
                   {% if forloop.last == False%},{% endif %}
                   {% endfor %}]
        },
        yAxis: {},
        series: [{
            name: '数量',
            type: 'bar',
            label: {
                show: true,
                position: 'inside'
            },
            data: [{% for sku_info in sku_infos %}
                   {{sku_info.qty}}
                   {% if forloop.last == False %},{% endif %}
                   {% endfor %}]
        }]
    };

  {% endfor %}

  {% for sku, sku_infos in to_be_received_skus.items %}
  myChart{{forloop.counter}}.setOption(option{{forloop.counter}});
  {% endfor %}

</script>
{% endblock %}
