{% extends "todaySalesBase.html" %}
{% block content %}
<form id='role_select_form' action="" method="post">
{% csrf_token %}
<select id='role_select' name = 'role' class="form-select" aria-label="Default select example">
  <option selected>选择角色</option>
  {% for role, sku_list in roles_sku_list_dict.items %}
  <option value="{{role}}">{% if role == "head_of_sales"%}销售总监{% endif %}
                           {% if role == "sales_person"%}销售{% endif %}
                           {% if role == "sales_assistant"%}销售助理{% endif %}
                           {% if role == "proposer"%}选品师{% endif %}
                           {% if role == "designer"%}设计师{% endif %}
  </option>
  {% endfor %}
</select>
</form>
<h1>作为{{role_name}}全部产品资产负债表</h1>
<table class="table">
  <tr>
    <td>日期： </td><td>{{end_date|date:"Y-m-d"}}</td>
  </tr>
  <tr>
    <td>上一期负债:</td><td>¥{{liabilities_before|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>负债:</td><td>¥{{liabilities|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>现金:</td><td>¥{{cash|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>净资产:</td><td>¥{{net_asset|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>本期({{start_date|date:"Y-m-d"}}至{{end_date|date:"Y-m-d"}})利润:</td><td>¥{{profit|floatformat:-2}}</td>
  </tr>
</table>
<h1>作为{{role_name}}全部产品的损益表</h1>
<table class="table">
  <tr>
    <td>起始日期： </td><td>{{start_date|date:"Y-m-d"}}</td>
  </tr>
  <tr>
    <td>结束日期： </td><td>{{end_date|date:"Y-m-d"}}</td>
  </tr>
  <tr>
    <td>销售金额:</td><td>¥{{sales_amount_in_cny|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>销售数量:</td><td>{{sold_qty_total|floatformat:0}}</td>
  </tr>
  <tr>
    <td>产品采购成本:</td><td>¥{{po_cost_total|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>头程费用:</td><td>¥{{head_shipping_cost_total|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>亚马逊费用:</td><td>¥{{amazon_fee_in_cny|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>广告费用:</td><td>¥{{ad_fee_in_cny|floatformat:-2}}</td>
  </tr>
</table>
<h1>作为{{role_name}}未来财务预估</h1>
<table class="table">
  <tr>
    <td>平均销掉一个回款： </td><td>¥{{receive_money_per_unit_sold|floatformat:-2}}</td>
  </tr>
  <tr>
    <td>目前库存个数： </td><td>{{fba_shenzhen_inventory}}</td>
  </tr>
  <tr>
    <td>过去7天日均销售个数:</td><td>{{sold_qty_average_7d|floatformat:-1}}</td>
  </tr>
  <tr>
    <td>预计多少天销售完:</td><td>{{sold_out_day_number}}</td>
  </tr>
  <tr>
    <td>预计多少天负债为0？:</td><td>{{liabilities_zero_day_number}}</td>
  </tr>
  <tr>
    <td>全部卖完存货时的毛利:</td><td>¥{{gross_profit_sold_out}}</td>
  </tr>
  <tr>
    <td>全部卖完存货时的毛利的5%:</td><td>{{gross_profit_sold_out_5_percent|floatformat:0}}</td>
  </tr>
</table>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function() {
    $('#role_select').on('change', function() {
       document.forms['role_select_form'].submit();
    });
  });
</script>
{% endblock %}
