{% extends "todaySalesBase.html" %}
{% block content %}
<h1>输入FNSKU获取商品信息</h1>
<form action="" method="get" class="form" >
    FNSKU:
    <input type="text" value="" name="fnsku">
    <br><br>
    <input type='submit' value="提交">
</form>
<br>
{% if fba_inventory.fnsku %}
<p>
 FNSKU: {{fba_inventory.fnsku}}
</p>
{% endif %}
{% if product.transparency %}
<p style='color:red'>
 需要贴透明计划标
</p>
{% endif %}
<p>
  SKU：{{fba_inventory.sku}}
</p>
<p>
  中文品名：{{product.name_in_chinese}}
</p>
<p>
  图片：{% if product.image %}<img src="{{product.image.url}}" class="mini-image">{% endif %}
</p>
<p>
  国家：{{fba_inventory.country}}
</p>
{% endblock %}
