{% extends "todaySalesBase.html" %}
{% block content %}
<h1>Amazon Review爬虫</h1>
    <div class="form-group"><label for="id_asin">Asin</label><input type="text" name="asin" class="form-control" placeholder="Asin" title="" required="" id="id_asin"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">上传</button>
    </div>
  <div id="color_chart" style="height:550px;"></div>
  <div id="size_chart" style="height:550px;"></div>
{% endblock %}
{% block script %}
<script src="/static/echart/echarts.min.js"></script>
<script>
  // 指定图表的配置项和数据
  $(function(){
    $('button.btn-primary').get(0).onclick = function(){
      var asin = $('#id_asin').val();
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "{% url 'get_reviews' %}?asin=" + asin, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send({});
      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              var response_json = JSON.parse(xhr.response);
              if(response_json.size != undefined){
                var size_series_data = [];
                var size_selected = {};
                for(var j = 0; j < response_json.size.name.length; j++){
                  size_series_data.push({
                    name: response_json.size.name[j],
                    value: response_json.size.value[j]
                  });
                }
                var option_size = {
                    title: {
                        text: '最近3个月留评尺寸数量统计',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        type: 'scroll',
                        orient: 'vertical',
                        right: 10,
                        top: 20,
                        bottom: 20,
                        data: response_json.size.name
                    },
                    series: [
                        {
                            name: '尺寸',
                            type: 'pie',
                            radius: '55%',
                            center: ['40%', '50%'],
                            data: size_series_data,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                var size_chart = echarts.init(document.getElementById('size_chart'));
                size_chart.setOption(option_size);
              }else{
                var size_chart = echarts.dispose(document.getElementById('size_chart'));
              };
              if(response_json.color != undefined){
                var color_series_data = [];
                for(var j = 0; j < response_json.color.name.length; j++){
                  color_series_data.push({
                    name: response_json.color.name[j],
                    value: response_json.color.value[j]
                  });
                }
                var option_color = {
                    title: {
                        text: '最近3个月留评颜色数量统计',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        type: 'scroll',
                        orient: 'vertical',
                        right: 10,
                        top: 20,
                        bottom: 20,
                        data: response_json.color.name
                    },
                    series: [
                        {
                            name: '尺寸',
                            type: 'pie',
                            radius: '55%',
                            center: ['40%', '50%'],
                            data: color_series_data,
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                var color_chart = echarts.init(document.getElementById('color_chart'));
                color_chart.setOption(option_color);
              }else{
                var color_chart = echarts.dispose(document.getElementById('color_chart'));
              }

          }
      };
    };
  });
</script>
{% endblock %}
