{% extends "todaySalesBase.html" %}
{% block css %}
<link href="/static/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style>
.sticky-top th {
  background: white;
  position: sticky;
  top: 50px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.mini-image{
  display:block;
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
}
ul.other_country li{
   display: inline-block;
}
ul.other_country li a{
   padding-right: 1em;
}
</style>
{% endblock %}
{% block content %}
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <canvas id="myChart1" width="1200" height="500"></canvas>
    </div>
  </div>
</div>

<h1>今日
  {{country}}滞销库存</h1>
<ul class='other_country'><li><span>其他站点：</span></li>
  {% for c in countries %}
      <li><a href="{% url 'get_excess_inventory' country=c %}">{{c}}</a></li>
  {% endfor %}
</ul>
<table class="table"  style="width:500px">
  <tbody>
      <tr>
        <td scope="row">总滞销库存数量</td>
        <td>{{ excess_product_total_unit|floatformat:0 }}</td>
      </tr>
      <tr>
        <td scope="row">总滞销库存货值</td>
        <td>¥ {{ excess_product_total_value|floatformat:0 }}</td>
      </tr>
    </tbody>
</table>
<table class="table">
  <tbody>
      <thead class='sticky-top'>
        <th>产品图片</th>
        <th>SKU</th>
        <th>今日销售件数</th>
        <th>7d平均销售件数</th>
        <th>亚马逊库存（包括在途）</th>
        <th>亚马逊库存能支撑天数</th>
        <th>超过6个月部分的件数</th>
        <th>超过6个月部分的货值</th>
      </thead>
      {% for top_sku in excess_product_list %}
      <tr {% if top_sku.lasting_day_of_available_estimated_by_us < 10 or top_sku.lasting_day_of_available_fc_estimated_by_us < 15 or top_sku.lasting_day_of_total_fba_unit_estimated_by_us < 35 %} style="background-color:#FF0000" {% endif %}>
        <td scope="row">{% if top_sku.product.image %}<img src="{{top_sku.product.image.url}}" class="mini-image">{% endif %}</td>
        <td>{{top_sku.product.sku}}</td>
        <td>{{top_sku.sold_qty_today}}</td>
        <td>{{top_sku.sold_qty_average_7d|floatformat:-1}}</td>
        <td>{{top_sku.total_unit}}</td>
        <td>{{top_sku.days_maintain|floatformat:0}}</td>
        <td>{{top_sku.excess_qty|floatformat:0}}</td>
        <td>¥{{top_sku.excess_value|floatformat:0}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script %}
{% endblock %}
