
{% extends "todaySalesBase.html" %}
{% block css %}
<link href="/static/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style>
.sticky-top th {
  background: white;
  position: sticky;
  top: 50px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.mini-image{
  display:block;
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
}
ul.other_country li{
   display: inline-block;
}
ul.other_country li a{
   padding-right: 1em;
}
</style>
{% endblock %}
{% block content %}
<h1>今日要启动的生产进度</h1>
{% for production_plan_progresses in production_plan_today_list %}
<h3 class='productionStageName'></h3>
<table class="table">
  <tbody>
      <thead class='sticky-top'>
        <th>生产单号</th>
        <th>SKU</th>
        <th>数量</th>
        <th>最快出货日期</th>
        <th>截止日期</th>
        <th>当前工序</th>
        <th>设置</th>
      </thead>
      {% for production_plan_progress in production_plan_progresses %}
      <tr {% if production_plan_progress.soonest_finishing_date > production_plan_progress.deadline_date %}style="background-color:#FF0000" {% endif %}>
        <td scope="row">{{production_plan_progress.production_plan_number}}</td>
        <td>{{production_plan_progress.sku}}</td>
        <td>{{production_plan_progress.qty}}</td>
        <td>{{production_plan_progress.soonest_finishing_date|date:'Y/m/d'}}</td>
        <td>{{production_plan_progress.deadline_date|date:'Y/m/d'}}</td>
        <td>{{production_plan_progress.current_stage_name}}</td>
        <td><a href="{% url 'update_ongoing_production_plan_progress' production_plan_progress.id %}">设置</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}

{% block script %}
<script>
$(function(){
  const production_combined_stage_combined_name_list = [{% for production_combined_stage_combined_name in production_combined_stage_combined_name_list %} {% if forloop.counter0 != 0%} , {% endif %}"{{production_combined_stage_combined_name}}" {% endfor %}];
  $('h3.productionStageName').each(function(i, obj){
    $(this).html(production_combined_stage_combined_name_list[i]);
  });
});
</script>
{% endblock %}
