
{% extends "todaySalesBase.html" %}
{% block css %}
<script src='/static/js/index.global.min.js'></script>
<script src='/static/js/fullcalendar/core/locales/zh-cn.global.min.js'></script>
<style>
.sticky-top th {
  background: white;
  position: sticky;
  top: 50px; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.mini-image{
  display:block;
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
}
.confirm-plan{
  margin-top:1em;
}
.postpone-advance{
  width:2em;
}
.postpone-advance-wrapper{
  position:absolute;
  left:400px;
  width:1000px;
}
.postpone-advance-seperator{
  margin:0 1em;
}
#color-explaination{
  position:fixed;
  top: 200px;
  right: 10px;
  width: 80px;
}
.eventHint {
  position: absolute;
  top:-50px;
  display: none;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  z-index: 3;
}
.eventHint.right {
  top:-60px;
  width:120px;
  left:0px;
}
.eventHint.left {
  height:0px;
  top:-0px;
  width:140px;
  left:-140px;
  text-align:right;
  padding: 5px 2px 40px 2px;
}
.eventHint p{
  margin:-2px 0 0 0;
  padding:0;
  word-break: break-word;
  white-space:normal;
}
#external-events {
  /*position: fixed;
  left: 20px;
  top: 100px;*/
  /*float:left;*/
  top: 100px;
  left:20px;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  width: 280px;
  padding: 0 0px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
  /*margin:0em 1em 0em 0em;*/
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 3px 0;
  cursor: move;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar-wrap {
  margin-left: 200px;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}

</style>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    const colorConfig = {'hasBoughtMaterial':
                                     {'backgroundColor':'yellow',
                                      'textColor':'black'
                                    },
                                    'hasCutMaterial':
                                                         {'backgroundColor':'green',
                                                          'textColor':'white'
                                                        },
                                    'hasStartedSewing':
                                                         {'backgroundColor':'pink',
                                                          'textColor':'purple'
                                                        },
                                    'default':
                                                         {'backgroundColor':'blue',
                                                          'textColor':'white'
                                                        },
                        };
    /* initialize the external events
    -----------------------------------------------------------------*/

    var containerEl = document.getElementById('external-events-list');
    new FullCalendar.Draggable(containerEl, {
      itemSelector: '.fc-event',
      eventData: function(eventEl) {
        return {
          title: eventEl.innerText.trim(),
          duration: {days: parseInt(eventEl.getAttribute('data-duration'))} ,
          extendedProps:{
                          production_plan_number: eventEl.getAttribute('data-production_plan_number'),
                          duration_days : parseInt(eventEl.getAttribute('data-duration')),
                          sku : eventEl.getAttribute('data-sku'),
                          qty:eventEl.getAttribute('data-qty')
                        }
        }
      }

    });

    //// the individual way to do it
    // var containerEl = document.getElementById('external-events-list');
    // var eventEls = Array.prototype.slice.call(
    //   containerEl.querySelectorAll('.fc-event')
    // );
    // eventEls.forEach(function(eventEl) {
    //   new FullCalendar.Draggable(eventEl, {
    //     eventData: {
    //       title: eventEl.innerText.trim(),
    //     }
    //   });
    // });

    /* initialize the calendar
    -----------------------------------------------------------------*/

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,listWeek,listMonth',
      },
      views: {
        listWeek: { buttonText: '周列表' },
        listMonth: { buttonText: '月列表' }
      },
      initialView: 'dayGridMonth',
      locale: 'zh-cn',
      editable: true,
      eventDurationEditable: false,
      droppable: true, // this allows things to be dropped onto the calendar
      drop: function(arg) {
        // 固定让每次移除以后都从原列表中删除
        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
        // is the "remove after drop" checkbox checked?
        // if (document.getElementById('drop-remove').checked) {
          // if so, remove the element from the "Draggable Events" list
        //  arg.draggedEl.parentNode.removeChild(arg.draggedEl);
        //}
      },
      eventDragStop: function(info){
        if(info.jsEvent.screenX < 276){
          info.event.remove();
          /* 从服务器也删除预计车缝时间 */
          var jsonData = {production_plan_progress_name: info.event.extendedProps.production_plan_number}
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "{% url 'delete_sewing_start_dates_ajax' %}");
          xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          xhr.onload = function() {
            if (xhr.status === 200) {
              console.log("Success: ", JSON.parse(xhr.responseText));
            } else {
              console.log("Error: ", xhr.statusText);
            }
          };
          xhr.onerror = function() {
            console.log("Error: ", xhr.statusText);
          };
          xhr.send(JSON.stringify(jsonData));
        };
      },
      /* 冒泡移动功能，由于不实用，所以取消了
      eventDrop: function(eventDropInfo){
        if(eventDropInfo.event.start > eventDropInfo.oldEvent.start){
          var start_date = eventDropInfo.oldEvent.start;
          var end_date = eventDropInfo.event.start;
          var delta_days = -eventDropInfo.event.extendedProps.duration_days;
        }else{
          if(eventDropInfo.event.start < eventDropInfo.oldEvent.start){
            var start_date = eventDropInfo.event.start;
            var end_date = eventDropInfo.oldEvent.start;
            var delta_days = eventDropInfo.event.extendedProps.duration_days;
          };
        }

        var betweenTwoDateEvents = [];
        for(var i=0;i<calendar.getEvents().length;i++){
          if(calendar.getEvents()[i].start >= start_date && calendar.getEvents()[i].start <= end_date){
            if(calendar.getEvents()[i].extendedProps.production_plan_number != eventDropInfo.event.extendedProps.production_plan_number){
              betweenTwoDateEvents.push(calendar.getEvents()[i]);
              calendar.getEvents()[i].moveDates({days:delta_days});
            }
          }
        };
      },*/
      eventMouseEnter: function(mouseEnterInfo){
        if(mouseEnterInfo.el.getElementsByClassName('eventHint').length){
          var newEle = mouseEnterInfo.el.getElementsByClassName('eventHint')[0];
        }else{
          var newEle = document.createElement("div");
          if([0,2,3,4,5,6].includes(mouseEnterInfo.event.start.getDay())){
            newEle.className = 'eventHint left';
          }else{
            newEle.className = 'eventHint right';
          }

          newEle.innerHTML = '<p>' + mouseEnterInfo.event.extendedProps.sku + '</p><p>' + mouseEnterInfo.event.extendedProps.qty + '</p>';

          mouseEnterInfo.el.appendChild(newEle);
        };
        newEle.style.display = 'block';
      },
      eventClick: function(eventClickInfo){
        $('#eventActionModal').remove();
        $('.postpone-advance-wrapper').after(
        '<div class="modal fade" id="eventActionModal" role="dialog">'+
        '  <div class="modal-dialog">'+
          '  <div class="modal-content">'+
            '  <div class="modal-header">'+
              '  <h4 class="modal-title">' +
                eventClickInfo.event.title +
                '</h4>'+
              '  <button type="button" class="close" data-dismiss="modal">&times;</button>'+
            '  </div>'+
          '    <div class="modal-body">'+
            '    <form>'+
            '      <div class="form-check">'+
              '      <input class="form-check-input" type="checkbox" value="false" id="hasBoughtMaterial" name="hasBoughtMaterial" >'+
              '      <label class="form-check-label" for="hasBoughtMaterial">'+
              '        已开始买料'+
              '      </label>'+
            '      </div>'+
            '      <div class="form-check">'+
          '          <input class="form-check-input" type="checkbox" checked="false" id="hasCutMaterial" name="hasCutMaterial">'+
          '          <label class="form-check-label" for="hasCutMaterial">'+
        '              已开始开料'+
        '            </label>'+
          '        </div>'+
          '        <div class="form-check">'+
          '          <input class="form-check-input" type="checkbox" value="false" id="hasStartedSewing" name="hasStartedSewing">'+
            '        <label class="form-check-label" for="hasStartedSewing">'+
          '            已开始车缝'+
          '          </label>'+
            '      </div>'+
          '        <button type="submit" class="btn btn-primary" id="eventActionModalSubmit">提交</button>'+
          '        <p id="eventActionResponse" style="color:green;"></p>'+
          '      </form>'+
          '    </div>'+
          '    <table class="table">' +
          '      <tbody>' +
          '        <thead>' +
          '          <th>' +
          '            站点' +
          '          </th>' +
          '          <th>' +
          '            深圳仓库存' +
          '          </th>' +
          '          <th>' +
          '            FBA库存' +
          '          </th>' +
          '          <th>' +
          '            7d平均销售件数' +
          '          </th>' +
          '          <th>' +
          '            FBA库存支撑天数' +
          '          </th>' +
          '        </thead>' +
          '        <tr>' +
          '          <td>' +
          '          US' +
          '          </td>' +
          '          <td class="shenzhenInventory"></td><td class="USFbaInventory"></td><td class="US7dSoldQty"></td><td class="USSustainDays"></td></tr><tr>' +
          '          <td>' +
          '          EU' +
          '          </td>' +
          '          <td class="shenzhenInventory"></td><td class="EUFbaInventory"></td><td class="EU7dSoldQty"></td><td class="EUSustainDays"></td></tr><tr>' +
          '          <td>' +
          '          GB' +
          '          </td>' +
          '          <td class="shenzhenInventory"></td><td class="GBFbaInventory"></td><td class="GB7dSoldQty"></td><td class="GBSustainDays"></td></tr>' +
          '      </tbody>' +
          '    </table>' +
          '    <div class="modal-footer">'+
          '      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>'+
            '  </div>'+
          '  </div>'+
          '</div>'+
        '</div>'
        );
        //$('#eventActionModal').remove();
        var jsonData = {production_plan_progress_name: eventClickInfo.event.extendedProps.production_plan_number};
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'get_ppp_3_statuses_ajax' %}");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onload = function() {
          if (xhr.status === 200) {
            var responseDict = JSON.parse(xhr.responseText);
            for (let key in responseDict['checkbox']) {
              $('#' + key).prop('checked', responseDict['checkbox'][key]);
            };
            if('shenzhenInventory' in responseDict['inventory']){
              $('table.table td.shenzhenInventory').html(responseDict['inventory']['shenzhenInventory']);
            }
            if('USFbaInventory' in  responseDict['inventory']){
              $('table.table td.USFbaInventory').html(responseDict['inventory']['USFbaInventory']);
              $('table.table td.US7dSoldQty').html(responseDict['inventory']['US7dSoldQty'].toFixed(1));
              $('table.table td.USSustainDays').html(responseDict['inventory']['USSustainDays'].toFixed(0));
            }
            if('EUFbaInventory' in  responseDict['inventory']){
              $('table.table td.EUFbaInventory').html(responseDict['inventory']['EUFbaInventory']);
              $('table.table td.EU7dSoldQty').html(responseDict['inventory']['EU7dSoldQty'].toFixed(1));
              $('table.table td.EUSustainDays').html(responseDict['inventory']['EUSustainDays'].toFixed(0));
            }
            if('GBFbaInventory' in  responseDict['inventory']){
              $('table.table td.GBFbaInventory').html(responseDict['inventory']['GBFbaInventory']);
              $('table.table td.GB7dSoldQty').html(responseDict['inventory']['GB7dSoldQty'].toFixed(1));
              $('table.table td.GBSustainDays').html(responseDict['inventory']['GBSustainDays'].toFixed(0));
            }
          } else {
            console.log("Error: ", xhr.statusText);
          }
        };
        xhr.onerror = function() {
          console.log("Error: ", xhr.statusText);
        };
        xhr.send(JSON.stringify(jsonData));
        $('#eventActionModal').modal('show');

        const button = document.getElementById('eventActionModalSubmit');

        function function_set_ppp_3_statuses_ajax(e) {
          e.preventDefault();
          var jsonData = {'production_plan_progress_name': eventClickInfo.event.extendedProps.production_plan_number};
          jsonData['hasBoughtMaterial'] = $('#hasBoughtMaterial').prop('checked');
          jsonData['hasCutMaterial'] = $('#hasCutMaterial').prop('checked');
          jsonData['hasStartedSewing'] = $('#hasStartedSewing').prop('checked');
          $.ajax({
              url: "{% url 'set_ppp_3_statuses_ajax' %}",
              type: 'POST',
              data: jsonData,
              dataType: 'json',
              success: function(response) {
                $('#eventActionResponse').html('设定成功');
                eventClickInfo.event.setProp('backgroundColor', response["backgroundColor"]);
                eventClickInfo.event.setProp('textColor', response["textColor"]);
              },
              error: function(xhr, status, error) {
                  console.log(error);
              }
          });
        };
        button.addEventListener('click',function_set_ppp_3_statuses_ajax);
      },
      eventMouseLeave: function(mouseLeaveInfo){
        const eventHintEle = mouseLeaveInfo.el.getElementsByClassName('eventHint')[0];
        eventHintEle.style.display = 'none';
      },
      events: [
        {% for ppp in ppps_sewing_with_estimated_date  %}
          {
            title: '{{ppp.production_plan_number}} {{ppp.sku}}  {{ppp.qty}}',
            backgroundColor: '{{ppp.status_color_fullcalendar.backgroundColor}}',
            textColor: '{{ppp.status_color_fullcalendar.textColor}}',
            start: '{{ppp.sewing_expected_date_fullcalendar}}' ,
            end: '{{ppp.sewing_expected_end_date_fullcalendar}}' ,
            extendedProps:{
                            'production_plan_number':'{{ppp.production_plan_number}}',
                            'duration_days': {{ppp.sewing_days}},
                            'sku': '{{ppp.sku}}',
                            'qty': '{{ppp.qty}}'
                          }
          },
        {% endfor %}
      ]
    });
    calendar.render();
    var confirmPlan = document.getElementById('confirm-plan');
    confirmPlan.addEventListener("click", function() {
      var jsonData = {}
      for(var i=0;i<calendar.getEvents().length;i++){
        jsonData[calendar.getEvents()[i].extendedProps.production_plan_number] = calendar.getEvents()[i].start.toISOString().split('T')[0]
      };

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "{% url 'set_sewing_start_dates_ajax' %}");
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.onload = function() {
        if (xhr.status === 200) {
          alert('设置成功');
        } else {
          console.log("Error: ", xhr.statusText);
        }
      };
      xhr.onerror = function() {
        console.log("Error: ", xhr.statusText);
      };
      xhr.send(JSON.stringify(jsonData));

    });

    var postponeButton = document.getElementById('postpone-button');
    var postponeDate = document.getElementById('postpone_date');
    var advanceDate = document.getElementById('advance_date');

    postponeButton.addEventListener("click", function() {
      for(var i=0;i<calendar.getEvents().length;i++){
        var start_date = new Date(postponeDate.value);
        if(calendar.getEvents()[i].start > start_date){
          calendar.getEvents()[i].moveDates({days:parseInt(document.getElementById('postpone-input').value)});
        };

      };
    });
    var advanceButton = document.getElementById('advance-button');
    advanceButton.addEventListener("click", function() {
      for(var i=0;i<calendar.getEvents().length;i++){
        var start_date = new Date(advanceDate.value);
        if(calendar.getEvents()[i].start > start_date){
          calendar.getEvents()[i].moveDates({days:-parseInt(document.getElementById('advance-input').value)});
        }
      };
    });
  });

</script>
{% endblock %}
{% block content %}
<div id='wrap'>

  <div id='external-events'>
    <h4>待安排生产单</h4>
    <div id='external-events-list'>
      {% for ppp in ppps_sewing_not_started_without_estimated_date %}
      <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'
           data-duration='{{ppp.sewing_days}}'
           data-production_plan_number='{{ppp.production_plan_number}}'
           data-sku='{{ppp.sku}}'
           data-qty='{{ppp.qty}}'>
        <div class='fc-event-main'><span>{{ppp.production_plan_number}} </span><span>{{ppp.sku}} </span><span>{{ppp.qty}}</span></div>
      </div>
      {% endfor %}
    </div>

  </div>

  <div id='calendar-wrap'>
    <h1>车缝时间安排</h1>
    <div id='calendar'></div>
  </div>
  <div id='color-explaination'>
    <p>说明</p>
    <div style='background:blue; width:80px;height:20px;color:white;margin-top:5px;'>啥都没干</div>
    <div style='background:yellow; width:80px;height:20px;color:black;margin-top:5px;'>买料</div>
    <div style='background:green; width:80px;height:20px;color:white;margin-top:5px;'>开料</div>
    <div style='background:pink; width:80px;height:20px;color:purple;margin-top:5px;'>车缝</div>
  </div>
</div>

<button type="button" class="btn btn-primary confirm-plan" id="confirm-plan">确认排单计划,提交</button>
<div class='postpone-advance-wrapper'>
  <input value='' id='postpone_date'><span style='color:grey;'>(格式2023-08-07)</span><span>之后的生产计划推迟</span><input class='postpone-advance' type='text' id='postpone-input' value=''><span>天</span>
  <button type="button" class="btn btn-outline-danger" id="postpone-button">确定</button> <span class="postpone-advance-seperator">          </span>
  <br>
  <input value='' id='advance_date'><span>之后生产计划提前</span><input class='postpone-advance' type='text' id='advance-input' value=''><span>天</span>
  <button type="button" class="btn btn-outline-success" id="advance-button">确定</button>
</div>



{% endblock %}
{% block script %}
<script>
$(function(){


});
</script>
{% endblock %}
