{% extends "todaySalesBase.html" %}
{% block content %}
<h1>今日发货明细</h1>
{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<form action="" method="post" class="form" novalidate enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      上传未入库库存/直接下载今日发货表
    </button>
  {% endbuttons %}
</form>
<br><br>
<h3>
发货单制作的步骤
</h3>
<ul>
  <li>
    上传精斗云下载下来的<a href="{% url 'update_shenzhen_inventory' %}">F199库存</a>表
  </li>
  <li>
    上传亚马逊后台下载下来的<a href="{% url 'update_restock_report' %}">restock report</a>
  </li>
  <li>
    上传亚马逊后台下载下来的<a href="{% url 'update_7d_orders' %}">过去7天销售</a>
  </li>
  <li>
    如果有未入库库存则在本页上传
  </li>
</ul>
{% endblock %}
