
{% extends "todaySalesBase.html" %}
{% block css %}
<link href="/static/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style>
input.ajaxInput{
  width:2em;
}
input.ajaxInput.longDigitInput{
  width:3em;
}

.input-group.date{
  width:7em;
  margin: auto;
}

</style>
{% endblock %}
{% block content %}
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <canvas id="myChart1" width="1200" height="500"></canvas>
    </div>
  </div>
</div>
<h1>修改{{production_plan_progress.production_plan_number}}的生产进度 {% if not production_plan_progress.is_a_parent_production_plan %}<a onclick="deleteWarning(event)" href='#' data-href="{% url 'delete_production_plan' production_plan_progress.id %}">删除该生产进度</a> {% endif %}{% if production_plan_progress.manufacturer_number %}/ <a href="{% url 'split_production_plan' production_plan_progress.id %}">分单 </a> {% endif %}</h1>
<h4>SKU：{{production_plan_progress.sku}} || 数量：{{production_plan_progress.qty}}
   || 最快出货日期: {{production_plan_progress.soonest_finishing_date|date:'Y/m/d'}}</h4>
<h4>|| 截止日期:
  <div class="input-group date production_plan_progress">
      <input type="text" class="form-control" value="{% if production_plan_progress.deadline_date is None %}{% else %}{{production_plan_progress.deadline_date|date:'Y/m/d'}}{% endif %}" data-parament_name="deadline_date">
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
      </div>
  </div>
</h4>

<table class="table">
  <tbody>
      <thead>
        <th>工序名</th>
        <th>预计开始日期</th>
        <th>实际开始日期</th>
        <th>每日生产件数</th>
        <th>预计持续天数</th>
        <th>是否正在该工序？</th>
      </thead>
      {% for production_stage in production_plan_progress.production_stages.all %}
      <tr>
        <td scope="row">{{production_stage.name}}</td>
        <td>
          <div class="input-group date production_stage">
              <input type="text" class="form-control" value="{% if production_stage.start_date_estimated is None %}{% else %}{{production_stage.start_date_estimated|date:'Y/m/d'}}{% endif %}" data-id="{{production_stage.id}}" data-parament_name="start_date_estimated">
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
          </div>
          <button class='startDateCancel' style="display:none;">清除</button>
        </td>
        <td>
          <div class="input-group date production_stage">
              <input type="text" class="form-control" value="{% if production_stage.start_date_actually is None %}{% else %}{{production_stage.start_date_actually|date:'Y/m/d'}}{% endif %}" data-id="{{production_stage.id}}" data-parament_name="start_date_actually">
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
              </div>
          </div>
          <button class='startDateCancel' style="display:none;">清除</button>
        </td>
        <td>
          <input type="text" class='ajaxInput longDigitInput' value="{% if production_stage.daily_production_units %}{{production_stage.daily_production_units}}{% endif %}"  data-id="{{production_stage.id}}" data-parament_name="daily_production_units">
          <button class='ajaxInputSave' style="display:none;" data-id="{{production_stage.id}}">保存</button>
          <button class='ajaxInputCancel' style="display:none;">取消</button>
        </td>
        <td>
          <input type="text" class='ajaxInput' value="{{production_stage.duration_days}}"  data-id="{{production_stage.id}}" data-parament_name="duration_days" {% if production_stage.daily_production_units %}disabled{% else %}{% endif %}>
          <button class='ajaxInputSave' style="display:none;" data-id="{{production_stage.id}}">保存</button>
          <button class='ajaxInputCancel' style="display:none;">取消</button>
        </td>
        <td class='current_stage'></td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}
{% block script %}
<script src="/static/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
<script src="/static/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
<script>
$(function(){
  var current_stage_id = "{{production_plan_progress.current_stage_id}}";
  $('tr').each(function(i, obj){
    if($(this).find('.input-group.date input').data('id') == current_stage_id){
      $(this).find('.current_stage').html('是');
    }
  });


  $('.ajaxInput').on('click', function(evt){
    $(this).parent().parent().parent().find('button').css("display", "none");
    $(this).parent().find('button').css("display", "inline");
  });

  $('.ajaxInput').keypress(function (e) {
   var key = e.which;
   if(key == 13)  // the enter key code
    {
      var production_stage_id = $(this).data('id');
      var parament_name = $(this).data('parament_name');
      var input_value = $(this).val();
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "{% url 'update_ongoing_production_stage' %}" +  "?production_stage_id=" + production_stage_id + "&" + parament_name + "=" + input_value, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send({});
      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              var response_json = JSON.parse(xhr.response);
          };
      };
      $(this).parent().find('button').css("display", "none");
    }
  });

  $('.ajaxInputSave').on('click', function(evt){
    var production_stage_id = $(this).data('id');
    var parament_name = $(this).parent().find('input').data('parament_name');
    var input_value = $(this).parent().find('input').val();
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "{% url 'update_ongoing_production_stage' %}" +  "?production_stage_id=" + production_stage_id + "&" + parament_name + "=" + input_value, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send({});
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            var response_json = JSON.parse(xhr.response);
        };
    };
    $(this).parent().find('button').css("display", "none");
  });
  $('.ajaxInputCancel').on('click', function(evt){
    $(this).parent().find('button').css("display", "none");
  });
  $('.input-group.date.production_stage input').datepicker({
    format: "yyyy/mm/dd",
    language: "zh-CN",
  }).on('changeDate', function(e) {
      var production_stage_id = $(this).data('id');
      var parament_name = $(this).data('parament_name');
      var start_date = $(this).val();
      var xhr = new XMLHttpRequest();

      xhr.open("GET", "{% url 'update_ongoing_production_stage' %}" +  "?production_stage_id=" + production_stage_id + "&" + parament_name + "=" + start_date, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send({});
      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              var response_json = JSON.parse(xhr.response);
          };
      };

  });
  $('.input-group.date.production_stage input').on('click', function(evt){
    $(this).parent().parent().parent().parent().find('button').css("display", "none");
    $(this).parent().parent().find('button').css("display", "inline");
  });
  $('.startDateCancel').on('click', function(evt){
    var production_stage_id = $(this).parent().find('.input-group.date input').data('id');
    var parament_name = $(this).parent().find('.input-group.date input').data('parament_name');
    var xhr = new XMLHttpRequest();

    xhr.open("GET", "{% url 'update_ongoing_production_stage' %}" +  "?production_stage_id=" + production_stage_id + "&" + parament_name + "=", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send({});
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            var response_json = JSON.parse(xhr.response);
        };
    };
    $(this).parent().find('.input-group.date input').val('');
    $(this).parent().find('button').css("display", "none");
  });
  $('.input-group.date.production_plan_progress input').datepicker({
    format: "yyyy/mm/dd",
    language: "zh-CN",
  }).on('changeDate', function(e) {
      var parament_name = $(this).data('parament_name');
      var start_date = $(this).val();
      var xhr = new XMLHttpRequest();

      xhr.open("GET", "{% url 'update_ongoing_production_plan_progress' production_plan_progress.id %}" + "?" + parament_name + "=" + start_date, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send({});
      xhr.onreadystatechange = function() {
          if (xhr.readyState == XMLHttpRequest.DONE) {
              var response_json = JSON.parse(xhr.response);
          };
      };

  });
});
function deleteWarning(event){
  if (confirm("确定要删除" + "{{production_plan_progress.production_plan_number}}" +" 单号？")){
    window.location.href = event.target.getAttribute('data-href');
  };
};
</script>
{% endblock %}
